header {
    text-align: center;
    align-items: center;
    height: 50px;
    background-color: pink;
  }

body {
    text-align: center;
    align-items: center;
    background-color: pink;
}   

th {
    height: 150px;
    right: 150px;
    font-size: 2rem;
}

footer {
    background-color: pink;
    font-size: 2rem;
}